@model IEnumerable<Library_MVC.Models.WarningType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Penalty
        </th>
        <th>
            Description
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WarningTypeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.WarningTypeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WarningTypeID })
        </td>
        <td>
			@item.Penalty
        </td>
        <td>
			@item.Description
        </td>
    </tr>
}

</table>


