@model IEnumerable<Library_MVC.Models.Author>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            FullName
        </th>
        <th>
            Country
        </th>
        <th>
            Period
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AuthorID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AuthorID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AuthorID })
        </td>
        <td>
			@item.FullName
        </td>
        <td>
			@item.Country
        </td>
        <td>
			@item.Period
        </td>
    </tr>
}

</table>


