@model IEnumerable<Library_MVC.Models.Member>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Name
        </th>
        <th>
            Surname
        </th>
        <th>
            Email
        </th>
        <th>
            Phone
        </th>
        <th>
            Department
        </th>
        <th>
            Occupation
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MemberID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MemberID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MemberID })
        </td>
        <td>
			@item.Name
        </td>
        <td>
			@item.Surname
        </td>
        <td>
			@item.Email
        </td>
        <td>
			@item.Phone
        </td>
        <td>
			@(item.Department == null ? "None" : item.Department.Name)
        </td>
        <td>
			@item.Occupation
        </td>
    </tr>
}

</table>


